<div >
<div class="container">
  <div class="row">
          <div style="margin-top:30px;background-color: rgb(242, 209, 209);">
          <hr />
         <h1 align="center" style="font-family:'Courier New', Courier, monospace;font-size:xx-large;"><b>Home</b></h1>
         <hr />
        </div>
          <div class="row g-5" style="margin-top:100px">
            <div class="col-sm-6">
              <div class="card" style="background-color: rgb(242, 209, 209);">
                <div class="card-body">
                  <h2 class="card-title">Loan Details</h2>
                  <p class="card-text">This page will give you the details about loan scheme and further details about choosed loan.</p>
                  <a href="#loan" class="btn btn-primary"  routerLink="/account" routerLinkActive="active-link">LOANS</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card" style="background-color: rgb(242, 209, 209);">
                <div class="card-body">
                  <h2 class="card-title">Savings Details</h2>
                  <p class="card-text">This option will help you to check the details about your savings.</p>
                  <a href="#" class="btn btn-primary" routerLink="/viewsavings" routerLinkActive="active-link">Check</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" style="background-color: rgb(242, 209, 209);">
                  <h2 class="card-title">Loan Request</h2>
                  <p class="card-text">This option helps you to request for a loan according to your needs. </p>
                  <a href="#" class="btn btn-primary">Apply</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" style="background-color: rgb(242, 209, 209);">
                  <h2 class="card-title">Back</h2>
                  <p class="card-text">If none of the options choosed.</p>
                  <a href="#" class="btn btn-primary">Go Back</a>
                </div>
              </div>
            </div>
          </div>
          
          <hr />
  </div>
</div>